Repository fox-archives/typescript-runtime-transpiler: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix .

.lintstagedrc.json:

{
  "**/*.{json,yaml,yml,vue,css,md,mdx,toml}": ["prettier --write ."],
  "**/*.{js,ts}": ["eslint --fix ."]
}

v0.2.0
  babel-helper-deno-general/package.json
  babel-plugin-deno-fs-promises/package.json
  babel-preset-deno/package.json
  deno_node_modules/package.json
  lerna.json
Due: prettier --write .

chore: add commmitizen
  .huskyrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write .

wip: use rollup api to bundle
  deno_node_modules/package.json
  deno_node_modules/src/rollup.config.js
  deno_node_modules/src/transpile.js
  deno_node_modules/transpile.old.sh
Due: prettier --write ., eslint --fix .

wip(deno_node_modules): extend transpile script for more packages
  deno_node_modules/src/rollup.config.js
  deno_node_modules/src/transpile.js
Due: eslint --fix .

fix: remove non relevant external dependency notices
  .eslintignore
  .gitignore
  .gitmodules
  deno_node_modules/package.json
  deno_node_modules/src/rollup.config.js
  deno_node_modules/src/transpile.js
Due: prettier --write ., eslint --fix .

chore: rename deno_node_modules to deno_modules
  .eslintignore
  .eslintrc.json
  .gitignore
  .gitmodules
  .prettierignore
  deno_modules/package.json
  deno_modules/packages/node-mkdirp/.gitignore
  deno_modules/packages/node-mkdirp/.travis.yml
  deno_modules/packages/node-mkdirp/CHANGELOG.md
  deno_modules/packages/node-mkdirp/LICENSE
  deno_modules/packages/node-mkdirp/index.js
  deno_modules/packages/node-mkdirp/map.js
  deno_modules/packages/node-mkdirp/package-lock.json
  deno_modules/packages/node-mkdirp/package.json
  deno_modules/packages/node-mkdirp/test/index.js
  deno_modules/src/rollup.config.js
  deno_modules/src/transpile.js
  deno_modules/transpile.old.sh
  lerna.json
  pnpm-workspace.yaml
Due: prettier --write ., eslint --fix .

fix: submodule structure
  .gitignore
  deno_modules/packages/node-mkdirp/.gitignore
  deno_modules/packages/node-mkdirp/.travis.yml
  deno_modules/packages/node-mkdirp/CHANGELOG.md
  deno_modules/packages/node-mkdirp/LICENSE
  deno_modules/packages/node-mkdirp/index.js
  deno_modules/packages/node-mkdirp/map.js
  deno_modules/packages/node-mkdirp/package-lock.json
  deno_modules/packages/node-mkdirp/package.json
  deno_modules/packages/node-mkdirp/test/index.js
Due: prettier --write ., eslint --fix .

fix: refactor and add clean stanza ran into issues in which old code wasn't cleaned, creating errors when requiring (ex. util.js and util/index.js)
  lerna.json
  package.json
  packages/babel-helper-deno-general/package.json
  packages/babel-helper-deno-general/src/ApiCall.ts
  packages/babel-helper-deno-general/src/util/index.ts
  packages/babel-helper-deno-general/tsconfig.json
  packages/babel-plugin-deno-fs-promises/package.json
  packages/babel-plugin-deno-fs-promises/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-fs-promises/test/fixtures/first.deno.js
  packages/babel-plugin-deno-fs-promises/test/fixtures/fs-promises-no-option.deno.js
  packages/babel-plugin-deno-fs-promises/tsconfig.json
  packages/babel-preset-deno/package.json
  packages/babel-preset-deno/src/index.ts
  packages/babel-preset-deno/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix .

feat(p-fs): add simple transforms for basic file system (no promises)
  packages/babel-helper-deno-general/src/ApiCall.ts
  packages/babel-plugin-deno-fs-promises/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-fs-promises/src/util/debug.ts
  packages/babel-plugin-deno-fs/jest.config.mjs
  packages/babel-plugin-deno-fs/package.json
  packages/babel-plugin-deno-fs/readme.md
  packages/babel-plugin-deno-fs/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-fs/src/importDeclarationVisitor.ts
  packages/babel-plugin-deno-fs/src/index.ts
  packages/babel-plugin-deno-fs/src/util/debug.ts
  packages/babel-plugin-deno-fs/test/__snapshots__/index.test.ts.snap
  packages/babel-plugin-deno-fs/test/fixtures/normal.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/normal.mjs
  packages/babel-plugin-deno-fs/test/index.test.ts
  packages/babel-plugin-deno-fs/test/test.utils.ts
  packages/babel-plugin-deno-fs/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix .

fix(preset-deno): status of dependencies in package.json packages supposed to be marked as depdendencies now marked as dependencies (instead of devDependencies)
  packages/babel-preset-deno/package.json
  pnpm-lock.yaml
Due: prettier --write .

fix: lint
  .eslintrc.json
  package.json
  packages/babel-plugin-deno-fs-promises/test/fixtures/first.deno.js
  packages/babel-plugin-deno-fs-promises/test/fixtures/fs-promises-no-option.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/normal.deno.js
  packages/babel-plugin-deno-fs/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix .

feat: d
  packages/babel-helper-deno-general/src/ApiCall.ts
  packages/babel-plugin-deno-fs/src/callExpressionVisitor.ts
  packages/babel-preset-deno/src/index.ts
Due: eslint --fix .

v0.3.0
  deno_modules/package.json
  lerna.json
  packages/babel-helper-deno-general/package.json
  packages/babel-plugin-deno-fs-promises/package.json
  packages/babel-plugin-deno-fs/package.json
  packages/babel-preset-deno/package.json
Due: prettier --write .

style: prettier ignore js files
  .prettierignore
Due: none

wip: add babel-plugin-deno-process
  packages/babel-helper-deno-general/src/ApiPropertyAccessor.ts
  packages/babel-plugin-deno-process/jest.config.mjs
  packages/babel-plugin-deno-process/package.json
  packages/babel-plugin-deno-process/readme.md
  packages/babel-plugin-deno-process/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-process/src/importDeclarationVisitor.ts
  packages/babel-plugin-deno-process/src/index.ts
  packages/babel-plugin-deno-process/src/util/debug.ts
  packages/babel-plugin-deno-process/test/fixtures/env.mjs
  packages/babel-plugin-deno-process/test/index.test.ts
  packages/babel-plugin-deno-process/test/test.utils.ts
  packages/babel-plugin-deno-process/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix .

refactor: similar plugin tsconfigs are now extended from a shared one
  packages/babel-helper-deno-general/tsconfig.json
  packages/babel-plugin-deno-fs-promises/tsconfig.json
  packages/babel-plugin-deno-fs/tsconfig.json
  packages/babel-plugin-deno-process/test/fixtures/env.mjs
  packages/babel-plugin-deno-process/tsconfig.json
  packages/tsconfig.helper.json
  packages/tsconfig.plugin.json
Due: prettier --write .

refactor: refactor tests to run via helper test runner module
  package.json
  packages/babel-helper-deno-plugin-test-runner/package.json
  packages/babel-helper-deno-plugin-test-runner/readme.md
  packages/babel-helper-deno-plugin-test-runner/src/index.ts
  packages/babel-helper-deno-plugin-test-runner/src/test.utils.ts
  packages/babel-helper-deno-plugin-test-runner/tsconfig.json
  packages/babel-plugin-deno-fs-promises/package.json
  packages/babel-plugin-deno-fs-promises/test/__snapshots__/integration.test.ts.snap
  packages/babel-plugin-deno-fs-promises/test/fixtures/chmod
  packages/babel-plugin-deno-fs-promises/test/fixtures/chown
  packages/babel-plugin-deno-fs-promises/test/fixtures/file
  packages/babel-plugin-deno-fs-promises/test/fixtures/first.deno.js
  packages/babel-plugin-deno-fs-promises/test/fixtures/fs-promises-no-option.deno.js
  packages/babel-plugin-deno-fs-promises/test/fixtures/no-option.deno.js
  packages/babel-plugin-deno-fs-promises/test/fixtures/no-option.mjs
  packages/babel-plugin-deno-fs-promises/test/fixtures/readTextFile.deno.js
  packages/babel-plugin-deno-fs-promises/test/fixtures/readTextFile.mjs
  packages/babel-plugin-deno-fs-promises/test/index.test.ts
  packages/babel-plugin-deno-fs-promises/test/integration.test.ts
  packages/babel-plugin-deno-fs-promises/test/test.utils.ts
  packages/babel-plugin-deno-fs/test/__snapshots__/integration.test.ts.snap
  packages/babel-plugin-deno-fs/test/fixtures/normal.deno.js
  packages/babel-plugin-deno-fs/test/index.test.ts
  packages/babel-plugin-deno-fs/test/integration.test.ts
  packages/babel-plugin-deno-fs/test/test.utils.ts
  packages/babel-plugin-deno-process/package.json
  packages/babel-plugin-deno-process/test/index.test.ts
  packages/babel-plugin-deno-process/test/integration.test.ts
  packages/babel-plugin-deno-process/test/test.utils.ts
  packages/babel-preset-deno/tsconfig.json
  packages/tsconfig.plugin.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix .

style: fix lint
  .eslintrc.json
  .huskyrc.json
  .prettierignore
  .versionrc.json
  @types/babel-types/index.d.ts
  deno_modules/src/rollup.config.js
  deno_modules/src/transpile.js
  package.json
  packages/babel-helper-deno-general/src/ApiCall.ts
  packages/babel-helper-deno-general/src/factories.ts
  packages/babel-helper-deno-general/src/index.ts
  packages/babel-helper-deno-general/src/util/debug.ts
  packages/babel-helper-deno-general/src/util/index.ts
  packages/babel-helper-deno-plugin-test-runner/src/index.ts
  packages/babel-helper-deno-plugin-test-runner/src/test.utils.ts
  packages/babel-plugin-deno-fs-promises/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-fs-promises/src/importDeclarationVisitor.ts
  packages/babel-plugin-deno-fs-promises/src/index.ts
  packages/babel-plugin-deno-fs-promises/src/util/debug.ts
  packages/babel-plugin-deno-fs-promises/test/fixtures/no-option.deno.js
  packages/babel-plugin-deno-fs-promises/test/fixtures/readTextFile.deno.js
  packages/babel-plugin-deno-fs-promises/test/integration.test.ts
  packages/babel-plugin-deno-fs/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-fs/src/importDeclarationVisitor.ts
  packages/babel-plugin-deno-fs/src/index.ts
  packages/babel-plugin-deno-fs/src/util/debug.ts
  packages/babel-plugin-deno-fs/test/fixtures/normal.deno.js
  packages/babel-plugin-deno-fs/test/integration.test.ts
  packages/babel-plugin-deno-process/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-process/src/importDeclarationVisitor.ts
  packages/babel-plugin-deno-process/src/index.ts
  packages/babel-plugin-deno-process/src/util/debug.ts
  packages/babel-plugin-deno-process/test/integration.test.ts
  packages/babel-preset-deno/src/index.ts
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix .

chore: fix release config
  changelog.md
  package.json
  pnpm-lock.yaml
Due: prettier --write .

v0.4.0
  deno_modules/package.json
  lerna.json
  packages/babel-helper-deno-general/package.json
  packages/babel-helper-deno-plugin-test-runner/package.json
  packages/babel-plugin-deno-fs-promises/package.json
  packages/babel-plugin-deno-fs/package.json
  packages/babel-plugin-deno-process/package.json
  packages/babel-preset-deno/package.json
Due: prettier --write .

feat: add functionality to inject imports at top of file
  .eslintrc.json
  .gitattributes
  .prettierignore
  package.json
  packages/babel-helper-deno-general/package.json
  packages/babel-helper-deno-general/src/Mod.ts
  packages/babel-helper-deno-general/src/index.ts
  packages/babel-plugin-deno-fs-promises/package.json
  packages/babel-plugin-deno-fs-promises/src/index.ts
  packages/babel-plugin-deno-fs/package.json
  packages/babel-plugin-deno-fs/readme.md
  packages/babel-plugin-deno-fs/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-fs/src/index.ts
  packages/babel-plugin-deno-fs/src/programExitVisitor.ts
  packages/babel-plugin-deno-fs/test/__snapshots__/integration.test.ts.snap
  packages/babel-plugin-deno-fs/test/fixtures/a-thru-l-sync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/a-thru-l-sync.mjs
  packages/babel-plugin-deno-fs/test/fixtures/normal.deno.js
  packages/babel-preset-deno/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix .

docs: add example to readme
  readme.md
Due: prettier --write .

workflow: remove commitizen
  .huskyrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write .

feat: add import injecting for deno standard modules
  packages/babel-helper-deno-general/src/Mod.ts
  packages/babel-plugin-deno-fs/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-fs/src/programExitVisitor.ts
  packages/babel-plugin-deno-fs/test/fixtures/a-thru-l-sync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/normal.deno.js
Due: eslint --fix .

chore: remove useless config
  .versionrc.json
  package.json
Due: prettier --write .

feat: add logging output to file
  packages/babel-helper-deno-general/src/index.ts
  packages/babel-helper-deno-general/src/log.ts
  packages/babel-plugin-deno-fs/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-fs/test/__snapshots__/integration.test.ts.snap
  packages/babel-plugin-deno-fs/test/fixtures/a-thru-l-sync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/normal.deno.js
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix .

v0.4.1
  deno_modules/package.json
  lerna.json
  packages/babel-helper-deno-general/package.json
  packages/babel-plugin-deno-fs-promises/package.json
  packages/babel-plugin-deno-fs/package.json
  packages/babel-plugin-deno-process/package.json
  packages/babel-preset-deno/package.json
Due: prettier --write .

chore: add nvmrc
  .nvmrc
Due: none

chore: fix version script
  package.json
Due: prettier --write .

chore: fix version script typo
  package.json
Due: prettier --write .

chore: refactor version script to file
  package.json
  version.mjs
Due: prettier --write .

feat: create conversion for fs.mkdtempSync
  packages/babel-helper-deno-general/package.json
  packages/babel-helper-deno-general/src/ApiCall.ts
  packages/babel-helper-deno-general/src/factories.ts
  packages/babel-helper-deno-general/src/util/index.ts
  packages/babel-plugin-deno-fs/package.json
  packages/babel-plugin-deno-fs/readme.md
  packages/babel-plugin-deno-fs/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-fs/test/fixtures/a-thru-l-sync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/a-thru-l-sync.mjs
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix .

test(babel-plugin-deno-fs): create fixtures for each separate api
  package.json
  packages/babel-plugin-deno-fs/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-fs/test/__snapshots__/integration.test.ts.snap
  packages/babel-plugin-deno-fs/test/fixtures/a-thru-l-sync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/a-thru-l-sync.mjs
  packages/babel-plugin-deno-fs/test/fixtures/chmodSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/chmodSync.mjs
  packages/babel-plugin-deno-fs/test/fixtures/chownSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/chownSync.mjs
  packages/babel-plugin-deno-fs/test/fixtures/closeSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/closeSync.mjs
  packages/babel-plugin-deno-fs/test/fixtures/copyFileSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/copyFileSync.mjs
  packages/babel-plugin-deno-fs/test/fixtures/existsSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/existsSync.mjs
  packages/babel-plugin-deno-fs/test/fixtures/mkdirSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/mkdirSync.mjs
  packages/babel-plugin-deno-fs/test/fixtures/mkdtempSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/mkdtempSync.mjs
  packages/babel-plugin-deno-fs/test/fixtures/normal.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/normal.mjs
Due: prettier --write ., eslint --fix .

test(babel-plugin-deno-fs): re-add mkdTempSync tset
  packages/babel-plugin-deno-fs/src/callExpressionVisitor.ts
  packages/babel-plugin-deno-fs/test/__snapshots__/integration.test.ts.snap
  packages/babel-plugin-deno-fs/test/fixtures/chmodSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/chownSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/closeSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/copyFileSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/existsSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/mkdirSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/mkdirSync.mjs
  packages/babel-plugin-deno-fs/test/fixtures/mkdtempSync.deno.js
  packages/babel-plugin-deno-fs/test/fixtures/mkdtempSync.mjs
Due: eslint --fix .

chore(lint): ensure prettier ignores fixture files. closes #11
  .eslintignore
  .prettierignore
Due: none

refactor: remove duped 'primitive' types. closes #8 now called PrimitiveLike, located in /@types/index.d.ts
  @types/index.d.ts
  packages/babel-helper-deno-general/src/ApiCall.ts
  packages/babel-helper-deno-general/src/factories.ts
  packages/babel-helper-deno-general/src/util/index.ts
  tsconfig.base.json
Due: prettier --write ., eslint --fix .

chore(deps): upgrade dependencies
  deno_modules/package.json
  package.json
  packages/babel-helper-deno-general/package.json
  packages/babel-helper-deno-plugin-test-runner/package.json
  packages/babel-plugin-deno-fs-promises/package.json
  packages/babel-plugin-deno-process/package.json
  pnpm-lock.yaml
Due: prettier --write .

refactor: cleanup unneeded dependencies. closes #9
  packages/babel-helper-deno-general/package.json
  packages/babel-helper-deno-general/src/ApiCall.ts
  packages/babel-helper-deno-general/src/Mod.ts
  packages/babel-plugin-deno-fs-promises/package.json
  packages/babel-plugin-deno-fs/package.json
  packages/babel-plugin-deno-fs/src/programExitVisitor.ts
  packages/babel-plugin-deno-process/package.json
  packages/babel-preset-deno/package.json
  pnpm-lock.yaml
Due: prettier --write ., eslint --fix .
